@model MailRequestViewModel
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
<div class="container">
	<br />
	<br />
	<div class="alert alert-success"><h3>Mail Gönderme sayfası</h3></div>
	<form method="post">

		<label>Alıcı Maili</label>
		<input type="text" asp-for="ReceiverMail" class="form-control"/>
		<br />

		<label>Konu</label>
		<input type="text" asp-for="Subject" class="form-control"/>
		<br />

		<label>İçerik</label>
		<textarea  class="form-control" rows="10" asp-for="MessageContent"></textarea>
		<br />
		<button type="submit" class="btn btn-primary">Gönder</button>
	</form>
</div>

