<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
                <div class="bg-light p-4">
                    <img src="~/multishop-1.0.0/img/adidas.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/multishop-1.0.0/img/ikea.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/multishop-1.0.0/img/columbia.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/multishop-1.0.0/img/hummel.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/multishop-1.0.0/img/lacoste.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/multishop-1.0.0/img/nike.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/multishop-1.0.0/img/koctas.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>