<div class="col-lg-4">
    <div class="product-offer mb-30" style="height: 200px;">
        <img class="img-fluid" src="https://img.freepik.com/free-photo/what-you-think-about-my-new-blouse_329181-8064.jpg" alt="">
        <div class="offer-text">
            <h6 class="text-white text-uppercase">İndirim 20%</h6>
            <h3 class="text-white mb-3">Özel Fırsatlar</h3>
            <a href="" class="btn btn-primary">Alışverişe başla</a>
        </div>
    </div>
    <div class="product-offer mb-30" style="height: 200px;">
        <img class="img-fluid" src="https://img.freepik.com/free-photo/close-up-woman-holding-shopping-bags_23-2149220711.jpg" alt="">
        <div class="offer-text">
            <h6 class="text-white text-uppercase">İndirim 30%</h6>
            <h3 class="text-white mb-3">Özel İndirim</h3>
            <a href="" class="btn btn-primary">Hemen incele</a>
        </div>
    </div>
</div>